.topnav {
  background: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  /* text-align: center; */
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: black;
  color: #ddd;
}

.business-title {
  float: right;
  background: violet;
}

.content {
  color: blue;
  text-align: left;
  font-size: large;
  font-family: "Lucida Sans Regular";
}
